[user]
	name = Bradford Wells
	email = bwells@altalang.com
[push]
	default = upstream
[core]
	editor = nvim
	excludesfile = /Users/kremlan/.gitignore
[tag]
	sort = version:refname
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
