*.pyc
*.sublime-project
*.sublime-workspace
*.swp
.cache
.coverage
.DS_Store
__pycache__
fish_history
fish_read_history
fish/fish_variables
fish/conf.d/
fishd.*
tags
tags.lock
tags.temp
.pytest_cache
